node_modules/
.expo/
dist/
*.tsbuildinfo
.DS_Store
.env
.env.*.local
apps/mobile/ios/
apps/mobile/android/
apps/mobile/modules/lody-kit/ios/Resources/
apps/mobile/modules/lody-kit/android/build/
apps/mobile/modules/lody-kit/android/.gradle/
apps/mobile/modules/lody-kit/android/.cxx/
.superpowers/


*.pyc
.artifacts/
packages/dom-webview/build/*
